apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: prod

resources:
  - ../../base

namePrefix: prod-

commonLabels:
  environment: prod

patches:
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 3
    target:
      kind: Deployment
      name: sample-app
  - patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/env/1/value
        value: "production"
    target:
      kind: Deployment
      name: sample-app
